img{
    float: left;
    width: 500px;
}
ul{
    list-style-type: none;
    text-align: center;
    font-size: 24px;
}
form{
    text-align: center;
}
body{
    background-image:url("https://images.unsplash.com/photo-1525220964737-6c299398493c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
    background-size: auto;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}